<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', {subHeading: 'User List'}) %>
            <% if (user) { %>
            <li><a href="/logout"></i>Hi <%= user.name %> Logout</a></li>
            <% } else { %>
            <li><a href="/auth/google"></i>Login with Google</a></li>
            <% } %>
    <br>
      <% users.forEach(function(user) { %>
        <li><a href="/users/<%= user._id %>"><%= user.name %></a></li>
      <% }) %>

  <%- include('../partials/scripts') %>
</body>
</html>
